.CardDetail {
    box-shadow: 0px 0px 10px 1px rgba(10, 148, 234, 0.497);
    margin: 55px;
    width: 50%;
    display: flex;
}

.CardDetail img {
    width: 300px;
    object-fit: cover;
}


.CardDetail h3 {
    font-size: 17px;
    font-style: italic;
    margin-bottom: 7px;
    color: rgb(37, 176, 235);
    background-color: rgba(9, 9, 9, 0.899);
    padding: 4px;
    border-radius: 5px;
}

